auto-install-peers=true
enable-pre-post-scripts=true
prefer-workspace-packages=true
public-hoist-pattern[]=@1stg/*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=@pkgr/*
public-hoist-pattern[]=@size-limit/*
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=cross-env
public-hoist-pattern[]=core-js
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=*/loader
public-hoist-pattern[]=*-loader
public-hoist-pattern[]=npm-run-all
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=simple-git-hooks
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=tslib
strict-peer-dependencies=false
